Source: ros-hydro-map-store
Section: misc
Priority: extra
Maintainer: "Dave Hershberger <hersh@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-nav-msgs, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-rostest, ros-hydro-warehouse-ros
Homepage: http://ros.org/wiki/map_store
Standards-Version: 3.9.2

Package: ros-hydro-map-store
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-nav-msgs, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-warehouse-ros
Description: Storage manager for OccupancyGrid maps. Supports naming the most recent map, getting a list of map names, and publishing a specific map.
